    #conttttt1 {
      position: relative;
      display: flex;
      justify-content: flex-start;
    }
    #conttttt2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      opacity: 0.8; /* Réglez l'opacité selon vos préférences */
    }
    #conttttt3 {
      max-width: 500px; /* Définissez la largeur maximale du formulaire */
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.8); /* Réglez la couleur de fond selon vos préférences */
      border-radius: 5px;
      margin-top: 7%; /* Ajustez la marge supérieure selon vos préférences */
      margin-left: 45%;
    }
    
    .input_index {
    	width: 100%;
    }

    